* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #32bf68;
    background: linear-gradient(180deg, rgba(50, 191, 104, 1) 0%, rgb(200, 211, 51) 100%);
    padding: 15px 40px;
    color: rgb(0, 0, 0);
}

.logo {
    position: relative;
    z-index: 2;
    background: #c6cf5d;
    background: radial-gradient(circle, rgb(235, 220, 85) 1%, rgb(192, 127, 73) 100%);
    padding: 10px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.nombre {
    position: relative;
    z-index: 1;
    color: white;
    padding: 10px;
    flex:1;
    text-align: left;
    margin-left: -5px;
    background: linear-gradient(135deg, rgb(200, 140, 64), #2c5d8a00);

}

.navlinks {
    display: flex;
    position: relative;
    z-index: 3;

    gap: 25px;
}

.navlinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.navlinks a:hover {
    color: #2f7725;
}



.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: linear-gradient(90deg, #247e6a, #88cc5a);
    color: rgb(255, 255, 255);
}

.intro-text h1 {
    position: relative;
    z-index: 1;
    font-size: 32px;
}

.intro-text h2 {
    position: relative;
    z-index: 2;
    margin: 10px 0;
}

.hero-img img {
    position: relative;
    z-index: 3;
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.sobre-mi {
    padding: 50px 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.subtitulo {
    margin-bottom: 30px;
    color: #666;
}

/* CONTENEDOR FLEX */
.contenedor {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CAJAS GENERALES */
.cajas {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

/* TEXTO */
.texto {
    flex:2;
    text-align: left;
    ;
}

.frase {
    padding: 40p;
}


/* DATOS */
.datos {
    flex: 1;
    text-align: left;
}

.datos ul {
    list-style: none;
}

.datos li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* FRASE */
blockquote {
    margin-top: 15px;
    padding: 10px;
    background-color: #eee;
    border-left: 5px solid #f39c12;
    font-style: italic;
}

/* CARDS */
.cards {
    padding: 50px 40px;
    background-color: #ffffff;
}

.cards .cajas {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #3b7bbf, #2c5d8a);
    color: white;
    transition: 0.3s;
}

/* HOVER */
.cards .cajas:hover {
    transform: translatey(-5px);
    box-shadow: 0px 8px 15px rgba(143, 101, 101, 0.3);
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-top: 20px;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .texto, .datos {
        width: 90%;
    }
}

/* HABILIDADES */

.habilidades{
    padding: 50px 40px;
    background-color: rgb(255, 255, 255);
}

.titulo {
    background-color: white;
    width: 200px;
    text-align: center;
    margin: 40px auto;

}


/* TABLA */

.tabla {
    margin: 50px auto;
    width: 650px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 5px 15px rgb(61, 59, 59);;
}

th{
    background:linear-gradient(rgb(21, 158, 51),rgb(99, 206, 50));
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 12px
}

td {
    padding: 12px;
    border-bottom: 1px solid #b1b1b1;
}

tr:nth-child(even){
    background: #b1afaf;
}

/* BARRA */

.barra {
    width: 100%;
    height: 8px;
    background: #cecece;
    border-radius: 10px;
    overflow: hidden;
}

.progreso {
    display:block;
    height: 100%;
    border-radius: 10px;
}

.html { width: 35%; background:linear-gradient(90deg, rgb(214, 79, 0), orange); }
.python{ width: 55%; background: linear-gradient(45deg, rgba(42, 123, 155, 1) 50%, rgb(235, 195, 65) 50%);; }
.css { width: 30%; background: linear-gradient(90deg, rgb(7, 98, 184), rgb(0, 162, 255)); }

.contenedorDos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-wrap:wrap;
}

.cajaInfo {
    flex: 1 1 250;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    background-color: #f9f9f9;

}

.cajaInfo h3{
    text-align: center;
    margin-bottom: 10px;
}

.cajaInfo ol, ul{
    list-style-position: inside;
    padding-left: 0;
}

.cajaInfo li{
    list-style-type: decimal;
    margin: 10px 0;
    padding: 10px;
    background-color: #dfe6e9;
    border-left: 5px solid #0984e3
}

/* TARJETAS */

.proyectos{
    padding: 40px 50px;
    background-color: #ebebeb;
}

.proy {
    text-align: center;
    height: 100px;
}

.proy p {
    color: rgb(66, 66, 66);
    text-align: center;
    height: 100px;
}


.grid {
    padding: 0px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgb(61, 59, 59);
}

.top {
    height: 120px;
    background: linear-gradient(135deg, #6c5ce7, #a29bfe);

}

figcaption {
    padding: 15px;
}

.card h3 {
    margin: 10px 0;
}

.card:nth-child(1) .top {
    background: linear-gradient(135deg, #79a3fd, #e8439e);
}

.card:nth-child(2) .top {
    background: linear-gradient(135deg, #fd79a8, #e5e843);
}

.card:nth-child(3) .top {
    background: linear-gradient(135deg, #fbfd79, #43e86c);
}
