* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #32bf68;
    background: linear-gradient(180deg, rgba(50, 191, 104, 1) 0%, rgb(200, 211, 51) 100%);
    padding: 15px 40px;
    color: rgb(0, 0, 0);
}

.logo {
    background: #cad929;
    background: radial-gradient(circle, rgb(235, 220, 85) 1%, rgb(192, 127, 73) 100%);
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
}

.navlinks {
    display: flex;
    gap: 25px;
}

.navlinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.navlinks a:hover {
    color: #2f7725;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: linear-gradient(90deg, #247e6a, #88cc5a);
    color: rgb(255, 255, 255);
}

.intro-text h1 {
    font-size: 32px;
}

.intro-text h2 {
    margin: 10px 0;
}

.hero-img img {
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.sobre-mi {
    padding: 50px 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.subtitulo {
    margin-bottom: 30px;
    color: #666;
}

/* CONTENEDOR FLEX */
.contenedor {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CAJAS GENERALES */
.cajas {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

/* TEXTO */
.texto {
    flex: 2;
    text-align: left;
}

/* DATOS */
.datos {
    flex: 1;
    text-align: left;
}

.datos ul {
    list-style: none;
}

.datos li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* FRASE */
blockquote {
    margin-top: 15px;
    padding: 10px;
    background-color: #eee;
    border-left: 5px solid #f39c12;
    font-style: italic;
}

/* CARDS */
.cards {
    padding: 50px 40px;
    background-color: #ffffff;
}

.cards .cajas {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #3b7bbf, #2c5d8a);
    color: white;
    transition: 0.3s;
}

/* HOVER */
.cards .cajas:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-top: 20px;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .texto, .datos {
        width: 90%;
    }
}